body {background-color: white;
background-image: url(Art-Deco-theatre-Normal-Ill.jpg.webp); background-position: top left;}

.heyitspnk {
    color: pink;
}
.superblue {
    color: aqua;
}

a.red {
    color:red;
}

a:visited {
    color: darkseagreen;
}

a:hover {
    color: yellow
}

.purplebackground {background-color: blueviolet;}

.background2 {background-color: rgb(239, 142, 106);}

.orange {color: darkorange;}

.redinfo {color: crimson;}
.bluebackground {background-color: blue;}

.pink412 {color: palevioletred;}

.navcolor {color: cadetblue;}
.navbackground {background-color: bisque;}

.orangep {color: rgb(179, 71, 21);}

.spanstyle {color: chartreuse;}

.arial {font-family: Arial, Helvetica, sans-serif
    ;}

.orangehead {color: orange;}

.normalwgt {font-weight: normal;}
.normalwgt {font-style: italic;}

.centered {text-align: center;}

.justify {text-align: justify
    ;}

.imgbox {border: 2px solid black; padding: 10px 10px 10px 10px; margin: 20px 20px 20px 20px; background-color: yellow;}

