.whitesky {color: white;}
.purplebghead {background-color: rgb(218, 175, 218);}

.green {color: green;}
.green:hover {color: red;}
.green {text-decoration: none;}

.RoyalBlue {color: blue;}

.yellow {color: rgb(219, 191, 77);}

.brightyellowbg {background-color: rgb(255, 255, 41);}

.redwords {color: crimson;}

.greenbackground {background-color: green;}

.limegreen {background-color: rgb(147, 246, 0);}
.blackwords {color: black;}

.green { text-underline-offset: 
    ;}

.spanstyle {color: rgb(222, 222, 128);}

.blackwords {text-decoration: none
    ;}

#divpurple {background-color:rgb(241, 164, 241);}

.yellowbg {background-color: yellow;}